*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.kess{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.kess h2{
    margin-bottom: 10px;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}
.class{
    background: #fff;
    padding: 30px;
    width: 400px;
    border-radius: 12px;
}
.class input{
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fcfaf8;
    border-radius: 10px;
    margin-bottom: 20px;
}
.class input:focus{
    outline: 2px solid #d86c48;
}
.class button{
    width: 100%;
    padding: 8px;
    background-color: #d76742;
    border: none;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 6px;
}
